$IMCCONFIG

# IMC2 AntiFreeze CL-4 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      Assault
Autoconnect    1
MinPlayerLevel 0
MinImmLevel    80
AdminLevel     85
Implevel       90
InfoName       ASSAULT: High Tech War
InfoHost       assault.game-host.org
InfoPort       3003
InfoEmail      assault_htw@yahoo.com
InfoBase       PA2
InfoWWW        assault.game-host.org
InfoDetails    Futuristic PK at its finest.

# Your router connection information goes here.
# This information should be available from the network you plan to join.
RouterAddr     router00.imc2.org
RouterPort     3333
ClientPwd      x
ServerPwd      y
#MD5 auth: 0 = disabled, 1 = enabled
MD5            1
#Your router is expecting MD5 authentication now. Do not remove this line unless told to do so.
MD5Pwd         1
End

$END
